@import '../../Utilites/variables';
.Sidebar {
	background: $c-secondary;
	color: $c-normal;
	flex: 0 0 300px;
	z-index: 3;
	box-shadow: $shadow;
	padding: $header+$padding $padding $footer+$padding $padding;

	button {
		margin: 12px 0;
	}
	p {
		color: $c-disable;
	}
	p:first-of-type {
		color: $c-normal;
	}
}