@import '../../Utilites/variables';
.Sidebar {
	background: $c-secondary;
	color: $c-normal;
	flex: 0 0 200px;
	z-index: 3;
	box-shadow: $shadow;
	padding: $header+$padding $padding $footer+$padding $padding;

	&__data {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	&__card {
		border: 1px solid #ffffff;
		border-radius: 12px;
	}
}