@import '../../Utilites/variables';

.Button {
	background: $c-normal;
	border-radius: 4px;
	border: 1px solid $c-tertiary;
	padding: 4px;

	&:hover {
		background-color: $c-hover;
	}
	&:active {
		background-color: $c-active;
	}
}