@import '../../Utilites/variables';

.Button {
	background: $c-normal;
	border-radius: 4px;
	border: 1px solid $c-tertiary;
	padding: 4px;
	justify-content: center;

	p {
		color:#000;
		font-weight: 700;
		font-size: 1.25rem;
	}
	&:hover {
		background-color: $c-hover;
	}
	&:active {
		background-color: $c-active;
	}
}