// colors
$c-primary: #303040;
$c-secondary: #353545;
$c-tertiary: #454555;
$c-normal: #8080a0;
$c-active: #9d2eff;
$c-hover: #bb6dff;
$c-error: #f700ff;
$c-disable: #6b5e77;

// shadow
$shadow-glass: 0px 0px 4px 0px rgba(200, 200, 220, 0.4);
$shadow: 0px 0px 4px 0px #00000055;

// Glass
$glass: rgba(120, 120, 140, 0.2);

// padding
$padding: 12px;
$header: 64px;
$footer: 28px;