@import '../../Utilites/variables';
.Center {
	display: flex;
	flex-direction: column;
	flex: 3 1 auto;
	gap: 12px;
	justify-content: start;
	align-items: center;
	background: $c-primary;
	color: $c-normal;
	padding: $header+$padding $padding $footer+$padding $padding;
}
