@import './Utilites/variables';

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $c-primary;
  color: $c-normal;
}
.Link {
  background: $c-normal;
	border-radius: 4px;
	border: 1px solid $c-tertiary;
	padding: 4px;

	&:hover {
		background-color: $c-hover;
	}
	&:active {
		background-color: $c-active;
	}
}