@import "./Utilites/variables";

.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: $c-primary;
	color: $c-normal;
}
.Link {
	background: $c-normal;
	border-radius: 4px;
	border: 1px solid $c-tertiary;
	padding: 4px;
	color: #000;
	text-decoration: none;

	&:hover {
		background-color: $c-hover;
	}
	&:active {
		background-color: $c-active;
	}
}

.FormTickets {
	flex-direction: column;
	align-items: center;
	background: unset !important;
	box-shadow: unset !important;

	&>div {
		display: flex;
		gap: 12px;
		padding: 12px;
		border-radius: 4px;
		background: #353545;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3333333333);
		flex-wrap: wrap;
		width: 440px;
	}
	[name="categoryId"], [name="filter"] {
		width: 200px;
		text-align: center;
	}
	[name="ticket"], [name="prefix"] {
		width: 200px;
		font-size: 2rem;
	}

}
.Pass {
	display: flex;
	flex-wrap: wrap;
	gap: $padding;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
}

